.icon{
    background-color: blue;
    height: 100px;
    display: flex;
    
}
.icon img{
    height: 100px;
    width: 150px;
    
     
}

.icon h1{
    margin-left: 150px;
}
.books{
    text-align: center;
}

.products img{
    height:200px
}
.products button{
    border-radius: 2px;
}
.products a{
    color: blue;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: beige;

}